*{
  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
font-family:'Lato', sans-serif;
--columns: 1;
}

html{
  font-size: 62.5%;
}


body{
  font-size: 1.6rem;
  background-color: rgb(243, 242, 242);

}
header{
 display: grid;
 grid-template-columns: repeat(var(--columns) 1fr);
}

.nav-link{
  margin-bottom: 10rem;
}

header .nav-link li{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
 

}
.header-img img{
  width: 30rem;
  height: 3.4rem;
}


.nav-link a{
margin-right: 10rem;
text-decoration: none;
cursor: pointer;
color: #000000;
}

.hero .title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.5rem;

  
}

.hero .email{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.email input{
width: 22rem;
height: 2.5rem;

}
.hero .button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  
}

.button button{
  background-color: #f1c40f;
  border: 1px solid #f1c40f;
  border-radius: 1px;
  padding: 5px;
  width: 15.5rem;
}

button:hover{
background-color: rgb(210, 153, 30);


}

.container-1{
  margin-top: 3rem;
}



.icon-1 img{
  
  width: 6rem;
  height: 4rem;
  object-fit: fill;
}

.desc-1 {
font-size: 1.5rem;
}

.icon-2 img{
  width: 6rem;
  height: 4rem;
}

.icon-3 img{
  width: 6rem;
  height: 4rem;
}

.how-it-works video{
width: 560px; 
height: 315px;

}

.container-4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.item-1 {
  border: 1px solid black;
  border-radius: 5px;
  margin: 3rem;
  width: 30rem;
  height: 31rem;
  font-size: 1.5rem;
}

.header-item-1{
  background-color: #ddd;
  text-align: center;
  width: 100%;
  height: 4rem;
  
}

.header-item-1 h2{
  padding: .5rem 0;
}

.main-item-1{
  margin-top: 1rem;
  text-align: center;
  background-color: whitesmoke;

}

.button-item-1{
  margin-top: 2rem;
  margin-left: 8rem;
  margin-right: 6rem;
}

.button-item-1 button{
  background-color: #f1c40f;
  border: 1px solid #f1c40f;
  border-radius: 1px;
  padding: 5px;
  width: 15.5rem;
}


.item-2 {
  border: 1px solid black;
  border-radius: 5px;
  margin: 3rem;
  width: 30rem;
  height: 31rem;
  font-size: 1.5rem;
}

.header-item-2{
  background-color: #ddd;
  text-align: center;
  width: 100%;
  height: 4rem;
  
}

.header-item-2 h2{
  padding: .5rem 0;
}

.main-item-2{
  margin-top: 1rem;
  text-align: center;
  background-color: whitesmoke;

}

.button-item-2{
  margin-top: 2rem;
  margin-left: 8rem;
  margin-right: 6rem;
}

.button-item-2 button{
  background-color: #f1c40f;
  border: 1px solid #f1c40f;
  border-radius: 1px;
  padding: 5px;
  width: 15.5rem;
}

.item-3 {
  border: 1px solid black;
  border-radius: 5px;
  margin: 3rem;
  width: 30rem;
  height: 31rem;
  font-size: 1.5rem;
}

.header-item-3{
  background-color: #ddd;
  text-align: center;
  width: 100%;
  height: 4rem;
  
}

.header-item-3 h2{
  padding: .5rem 0;
}

.main-item-3{
  margin-top: 1rem;
  text-align: center;
  background-color: whitesmoke;

}

.button-item-3{
  margin-top: 2rem;
  margin-left: 8rem;
  margin-right: 6rem;
}

.button-item-3 button{
  background-color: #f1c40f;
  border: 1px solid #f1c40f;
  border-radius: 1px;
  padding: 5px;
  width: 15.5rem;
}

button:hover{
  background-color: rgb(210, 153, 30);
  
  
  }

  .footer{
    margin-top: 10rem;
    width: 100%;
    height: 8rem;
    background-color: #DDDD;
    
  }
  .footer .footer-link ul{
    display: flex;
  justify-content: flex-end;
    list-style: none;
  }

  .footer-link a{
    margin-right: 2rem;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
    }

    .footer-end p{
      display: flex;
      justify-content: flex-end;
      margin-top: 2rem;
    }

@media screen and (min-width: 600px){

.container{
  
display: grid;
 grid-template-columns: 1fr 1fr;
margin-top: 3rem;

}



header .nav-link ul{
  display: flex;
  justify-content: flex-end;
  
  
  
}

.container-1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3rem;
}
.icon-1 img{
  margin-top: 1rem;
  margin-left: 20rem;

}

.desc-1{
  width: 60rem;
  height: 10rem;
}


.container-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3rem;
}
.icon-2 img{
  margin-top: 1rem;
  margin-left: 20rem;

}
.desc-2{
  width: 60rem;
  height: 10rem;
}


.container-3{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3rem;
}

.icon-3 img{
  margin-top: 1rem;
  margin-left: 20rem;;

}

.desc-3{
  width: 60rem;
  height: 10rem;
}

.how-it-works {
 text-align: center;
  
  }

  .container-4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
  }
}


